<style lang="scss" scoped>
$lightningBlue: #51d0de;
$lightningPurple: #bf4aa8;
$brainWhite: #d9d9d9;

div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: $lightningPurple;
  text-align: center;
  border: 4px solid transparent;

  h1 {
    position: relative;
    top: 4px;
    font-size: 46px;
    user-select: none;
  }

  &.active {
    background-color: black;

    &.octave-2 {
      color: red;
      border-color: red;
    }

    &.octave-3 {
      color: orange;
      border-color: orange;
    }

    &.octave-4 {
      color: yellow;
      border-color: yellow;
    }

    &.octave-5 {
      color: yellowgreen;
      border-color: yellowgreen;
    }
  }
}
</style>

<template>
  <div :class="classes" @click="play">
    <h1>{{ pitch }}</h1>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

interface Classes {
  active: boolean;
  "octave-2": boolean;
  "octave-3": boolean;
  "octave-4": boolean;
  "octave-5": boolean;
}

export default Vue.extend({
  props: {
    pitch: {
      type: String,
      required: true
    },
    active: {
      type: Boolean,
      required: true
    },
    octave: {
      type: Number,
      required: true
    }
  },
  computed: {
    classes(): Classes {
      return {
        active: this.active,
        "octave-2": this.octave === 2,
        "octave-3": this.octave === 3,
        "octave-4": this.octave === 4,
        "octave-5": this.octave === 5
      };
    }
  },
  methods: {
    play() {
      this.$emit("togglePlaying", this.pitch);
    }
  }
});
</script>
