<style lang="scss">
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap");

html {
  font-family: "Josefin Sans", sans-serif;
}

$lightningBlue: #51d0de;
$lightningPurple: #bf4aa8;
$brainWhite: #d9d9d9;

body {
  background-color: $lightningBlue;
  color: $brainWhite;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    font-size: 75px;
    line-height: 1.5;
    color: $lightningPurple;
  }
}
.pitch-wrapper {
  margin-top: 30px;
  width: 100%;
  max-width: 1125px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 80px);
  justify-content: center;
  margin-bottom: 30px;
}

.octave-wrapper {
  margin-bottom: 14px;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 10px;
  text-decoration: none;
  background: $lightningPurple;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: darken($lightningPurple, 4%);
}

button:focus {
  outline: 1px solid $brainWhite;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

button:disabled {
  cursor: default;
  background-color: lighten($lightningPurple, 30%);
}

.volume {
  margin-top: 10px;
  margin-bottom: 30px;
}

input[type="range"].slider {
  -webkit-appearance: none;
  max-width: 100%;
  width: 400px;
  margin: 10.7px 0;
}
input[type="range"].slider:focus {
  outline: none;
}
input[type="range"].slider::-webkit-slider-runnable-track {
  max-width: 100%;
  width: 400px;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #d9d9d9;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type="range"].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #bf4aa8;
  height: 47px;
  width: 18px;
  border-radius: 0px;
  background: rgba(191, 74, 168, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.7px;
}
input[type="range"].slider:focus::-webkit-slider-runnable-track {
  background: #e6e6e6;
}
input[type="range"].slider::-moz-range-track {
  max-width: 100%;
  width: 400px;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #d9d9d9;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type="range"].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #bf4aa8;
  height: 47px;
  width: 18px;
  border-radius: 0px;
  background: rgba(191, 74, 168, 0.93);
  cursor: pointer;
}
input[type="range"].slider::-ms-track {
  max-width: 100%;
  width: 400px;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].slider::-ms-fill-lower {
  background: #cccccc;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"].slider::-ms-fill-upper {
  background: #d9d9d9;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #bf4aa8;
  height: 47px;
  width: 18px;
  border-radius: 0px;
  background: rgba(191, 74, 168, 0.93);
  cursor: pointer;
  height: 25.6px;
}
input[type="range"].slider:focus::-ms-fill-lower {
  background: #d9d9d9;
}
input[type="range"].slider:focus::-ms-fill-upper {
  background: #e6e6e6;
}
</style>

<template>
  <div id="app">
    <div class="pitch-wrapper">
      <sound-button
        v-for="pitch in pitches"
        :key="pitch.pitch"
        :pitch="pitch.pitch"
        :active="pitch.pitch === currentPitch"
        :octave="currentOctave"
        @togglePlaying="onTogglePlaying"
      ></sound-button>
    </div>
    <button type="button" :disabled="!playing" @click.prevent="stop">Stop all sounds</button>

    <div class="octave-wrapper">
      <button type="button" :disabled="currentOctave < 3" @click.prevent="octaveDown">Octave down</button>
      <button type="button" :disabled="currentOctave > 4" @click.prevent="octaveUp">Octave up</button>
    </div>

    <input class="volume slider" type="range" min="0" max="100" v-model="rawVolume" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import soundButton from "./components/soundButton.vue";
import pitches from "./pitches";

interface Data {
  playing: boolean;
  currentPitch: string | null;
  currentOctave: number;
  rawVolume: number;
  audioContext: AudioContext | undefined;
  oscillator: OscillatorNode | undefined;
  gainNode: GainNode | undefined;
  pitches: Pitch[];
}

interface Pitch {
  pitch: string;
  frequencies: number[];
}

const oscOn = (
  context: AudioContext,
  oscillator: OscillatorNode,
  volume: number,
  gainNode: GainNode,
  freq: number
) => {
  oscillator.frequency.value = freq;
  oscillator.type = "triangle";
  oscillator.connect(gainNode);
  gainNode.connect(context.destination);
  gainNode.gain.value = volume;

  oscillator.start ? oscillator.start(0) : (oscillator as any).noteOn(0);
};

export default Vue.extend({
  components: {
    soundButton
  },
  data(): Data {
    return {
      playing: false,
      currentPitch: null,
      currentOctave: 3,
      rawVolume: 50,
      audioContext: undefined,
      oscillator: undefined,
      gainNode: undefined,
      pitches: pitches
    };
  },
  mounted() {
    const contextClass =
      window.AudioContext ||
      (window as any).webkitAudioContext ||
      (window as any).mozAudioContext ||
      (window as any).oAudioContext ||
      (window as any).msAudioContext;

    if (contextClass) {
      this.audioContext = new contextClass();
      this.oscillator = this.audioContext.createOscillator();
      const gainValue = 0.1;
      this.gainNode = this.audioContext.createGain
        ? this.audioContext.createGain()
        : (this.audioContext as any).createGainNode();
    }
  },
  computed: {
    currentFrequency(): number | null {
      if (!this.playing) {
        return null;
      }

      const current = pitches.find(item => item.pitch === this.currentPitch);

      if (current) {
        return current.frequencies[this.currentOctave];
      }

      return null;
    },
    realVolume(): number {
      return Math.pow(this.rawVolume, 2) / 20000;
    }
  },
  methods: {
    async octaveUp() {
      if (this.currentOctave < 5) {
        ++this.currentOctave;
      }

      if (this.oscillator) {
        await this.$nextTick;

        if (this.currentFrequency) {
          this.oscillator.frequency.value = this.currentFrequency;
        }
      }
    },
    async octaveDown() {
      if (this.currentOctave > 2) {
        --this.currentOctave;
      }

      if (this.oscillator) {
        await this.$nextTick;

        if (this.currentFrequency) {
          this.oscillator.frequency.value = this.currentFrequency;
        }
      }
    },
    async onTogglePlaying(pitch: string) {
      if (this.playing && pitch === this.currentPitch) {
        this.playing = false;
        this.currentPitch = null;
      } else if (!this.playing || pitch !== this.currentPitch) {
        this.playing = true;
        this.currentPitch = pitch;

        await this.$nextTick;

        if (this.oscillator && this.currentFrequency) {
          this.oscillator.frequency.value = this.currentFrequency;
        }
      }
    },
    stop() {
      this.playing = false;
      this.currentPitch = null;
    }
  },
  watch: {
    playing(isPlaying: boolean) {
      if (
        isPlaying &&
        this.audioContext &&
        this.oscillator &&
        this.gainNode &&
        this.currentFrequency
      ) {
        oscOn(
          this.audioContext,
          this.oscillator,
          this.realVolume,
          this.gainNode,
          this.currentFrequency
        );
      } else if (!isPlaying && this.oscillator) {
        this.oscillator.disconnect();
      }
    },
    realVolume(newVal: number) {
      if (this.gainNode) {
        this.gainNode.gain.value = newVal;
      }
    }
  }
});
</script>
